# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-store
dist
build
.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
*.stackdump

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Frontend specific
frontend/dist
frontend/out
frontend/build

# Backend specific
backend/development.sqlite
